<nz-layout class="app-layout" >
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#" target="_blank">
        <h1>Management Dashboard</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="/pages" routerLinkActive="active">
            <a>Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/pages/registers" routerLinkActive="active">
            <a>Registers</a>
          </li>
          <li nz-menu-item nzMatchRouter routerLink="/pages/client-catering" routerLinkActive="active">
            <a>Catering Calculate</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pages/room-reserve" routerLinkActive="active">Rooms Reservation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pages/plans" routerLinkActive="active">Plans</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pages/rooms" routerLinkActive="active">Rooms</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pages/catering" routerLinkActive="active">Catering Products</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pages/clients" routerLinkActive="active">Clients</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="pages/faculties" routerLinkActive="active">Faculties</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink='pages/users' routerLinkActive="active">Users</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item>
            <a routerLink="/" routerLinkActive="active">Setting</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
